/* ********** VARIABLED ********** */
:root {
    --ms_header-height: 80px;
    --ms_sidebar-width: 70px;
    --ms_inner-nav: #1b72e8;
}

/* ********** RESET ********** */
img {
    max-width: 100%;
}

/* ********** GENERAL ********** */
body {
    font-family: 'Roboto', sans-serif;
}

.wrapper {
    height: 100vh;
    width: 100%;
    /* debug */
    background-color: brown;
}

li {
    list-style-type: none;
}

/* ********** HEADER ********** */
header {
    width: 100%;
    height: var(--ms_header-height);
    /* debug */
    background-color: aquamarine;
}

.input-group > .form-control,
.input-group-text {
    background-color: #e5e5e5;
    border: none;
}

/* ********** MAIN ********** */
/* ---------- Content with sidebar and main-content ---------- */
.content {
    width: 100%;
    height: calc(100% - var(--ms_header-height));
    /* debug */
    background-color:burlywood;
}

/* ----------* Sidebar *---------- */
.ms_sidebar {
    width: var(--ms_sidebar-width);
    height: 100%;
    color: white;
    background-image: url(../img/sidebar-bg.png);
    background-size: cover;
    background-color: #051e34;
}

.ms_sidebar a {
    text-decoration: none;
    color: inherit;
}

/* * Desktop layout * */
@media screen and (min-width: 992px) {
    :root {
        --ms_sidebar-width: 120px;
    }
}

/* ----------* Main content *---------- */
.main-content {
    width: calc(100% - var(--ms_sidebar-width));
    height: 100%;
    overflow: auto;
    /* debug */
    background-color: cadetblue;
}

/* ---------- Inner nav ---------- */
.ms_inner-nav {
    background-color: var(--ms_inner-nav);
    color: white;
    /* debug */
    width: 100%;
}

.new-student,
.apps,
.students-count {
    /* debug */
    min-height: 80px;
    background-color: darkseagreen;
    border: 1px dashed black;
}

/* ---------- Cards ---------- */
/* ----- debug ----- */
.ms_col {
    /* debug */
    background-color: darkorchid;
    border: 1px solid black;
    min-height: 500px;
}

.next-classes,
.active-users {
    /* debug */
    background-color: lightskyblue;
    min-height: 300px;
    border: 1px dashed black;
}

.faq,
.todo {
    /* debug */
    background-color: lightskyblue;
    min-height: 150px;
    border: 1px dashed black;
}
/* ----- end debug ----- */