/* ********** VARIABLED ********** */
:root {
    --ms_header-height: 60px;
    --ms_sidebar-width: 70px;
    --ms_inner-nav: #1b72e8;
}

/* ********** RESET ********** */
img {
    max-width: 100%;
}

/* ********** GENERAL ********** */
body {
    font-family: 'Roboto', sans-serif;
}

.wrapper {
    height: 100vh;
    width: 100%;
}

li {
    list-style-type: none;
}

/* ********** HEADER ********** */
.ms_header {
    width: 100%;
    height: var(--ms_header-height);
    background-color: white;
}

.small-logo {
    width: 50px;
}

.big-logo {
    height: 30px;
}

#bell {
    color: orange;
}

/* ********** MAIN ********** */
/* ---------- Content with sidebar and main-content ---------- */
.content {
    width: 100%;
    height: calc(100% - var(--ms_header-height));
}

/* ----------* Sidebar *---------- */
.ms_sidebar {
    width: var(--ms_sidebar-width);
    height: 100%;
    color: white;
    background-image: url(../img/sidebar-bg.png);
    background-size: cover;
    background-color: #051e34;
}

.ms_sidebar a {
    text-decoration: none;
    color: inherit;
}

/* Hover effects on sidebar elements */
.ms_side-nav li {
    transition: all .2s linear;
}

.settings a {
    transition: all .2s linear;
}

.ms_side-nav li:hover,
.settings a:hover {
    box-shadow: inset 0 0 100px 100px rgba(255, 255, 255, 0.5);
}

/* * Desktop layout * */
@media screen and (min-width: 992px) {
    :root {
        --ms_sidebar-width: 120px;
    }
}

/* ----------* Main content *---------- */
.main-content {
    width: calc(100% - var(--ms_sidebar-width));
    height: 100%;
}

/* ---------- Inner nav ---------- */
.ms_inner-nav {
    background-color: var(--ms_inner-nav);
    color: white;
    /* debug */
    width: 100%;
}

.new-student,
.apps,
.students-count {
    /* debug */
    min-height: 80px;
    background-color: darkseagreen;
    border: 1px dashed black;
}

/* ---------- Cards ---------- */
/* Next classes section */
/* wider column */
#name-column {
    width: 40%;
}

.table img {
    width: 35px;
}

/* Process badge */
#process {
    background-color: #ffc107;
}